<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>IC - Algoritmo A*</h1>
    <div>
      <button><a href="/algorithm">Start</a></button>
    </div>

   

  </body>

</html>
